.tab-list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
	position: relative;
	z-index: 2;
}

.tab {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
	background-color: transparent;
	padding: 0.5rem 1rem;
	cursor: pointer;

	&:hover {
		color: #007bff;
	}

	&[aria-selected="true"] {
		border-bottom-color: #fff;
	}
}

.tab-panel {
	margin-top: -1px;
	padding: 1rem;
	border: 1px solid #000;
}