.details:last-child {
	border-bottom: 1px solid #000;
}

.details[open] .summary::after {
	content: "▲";
}

.summary {
	position: relative;
	padding: 1rem 3rem 1rem 0;
	border-top: 1px solid #000;
	cursor: pointer;
	font-weight: bold;

	&::marker {
		content: "";
		display: none;
	}

	&::--webkit-details-marker {
		content: "";
		display: none;
	}
}

.summary::after {
	content: "▼";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.content {
	padding: 0 0 1rem;
}